[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
s3fs = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
